.list-group-wrapper {
  background-color: $white;
  border-radius: 14px;
  padding: 4px;
}

.list-group-item {
  border-radius: 12px;
  background-color: $white;
  text-align: center;
  border: 0px;

  &:first-child {
    border-radius: 12px;
  }

  &:last-child {
    border-radius: 12px;
  }
}

.list-group-wrapper-secondary {
  background-color: $gray-100;

  .list-group-item-secondary {
    background-color: $gray-100;

    &.active {
      background-color: $white;
      color: $black;
    }
  }
}

.list-hover {
  &:hover {
    color: var(--bs-emphasis-color);
    background-color: rgba(var(--bs-emphasis-color-rgb), 0.075);
  }
}
