.list-group-wrapper {
  background-color: $white;
  border-radius: 14px;
  padding: 4px;
}

.list-group-item {
  border-radius: 10px;
  background-color: $white;
  text-align: center;
  border: 0px;
}
