.list-group-wrapper {
  background-color: $white;
  border-radius: 14px;
  padding: 4px;
}

.list-group-item {
  border-radius: 14px;
  background-color: $white;
  text-align: center;
  border: 0px;
}

.list-group-wrapper-secondary {
  background-color: $gray-100;

  .list-group-item-secondary {
    background-color: $gray-100;

    &.active {
      background-color: $white;
      color: $black;
    }
  }
}
