.nav-pills > .nav-item > .nav-link {
  &:hover {
    color: $white;
    background-color: $gray-400;
  }
}

.categoryTab {
  .nav-link.active  {
    border-radius: 14px;
  }
}

.periodTab {
  .nav-link.active  {
    border-radius: 10px;
  }
}