.radius-3xs {
  border-radius: .5rem;
}
.radius-xxs {
  border-radius: .625rem;
}
.radius-xs {
  border-radius: .875rem;
}
.radius-sm {
  border-radius: 1.125rem;
}
.radius-md {
  border-radius: 1.25rem;
}
.radius-R {
  border-radius: 1.5rem;
}
.radius-l {
  border-radius: 1.75rem;
}
.radius-xl {
  border-radius: 2rem;
}
.radius-xxl {
  border-radius: 2.25rem;
}



