.ps-tiny {
  padding-left: 2px;
}
.pe-tiny {
  padding-right: 2px;
}
.pt-tiny {
  padding-top: 2px;
}
.pb-tiny {
  padding-bottom: 2px;
}
.py-tiny {
  padding-top: 2px;
  padding-bottom: 2px;
}
.px-tiny {
  padding-left: 2px;
  padding-right: 2px;
}

.ms-tiny {
  margin-left: 2px;
}
.me-tiny {
  margin-right: 2px;
}
.mt-tiny {
  margin-top: 2px;
}
.mb-tiny {
  margin-bottom: 2px;
}
.my-tiny {
  margin-top: 2px;
  margin-bottom: 2px;
}
.mx-tiny {
  margin-left: 2px;
  margin-right: 2px;
}