<!-- accountModal -->
<div
  class="accountModal modal fade"
  id="accountModal"
  tabindex="-1"
  aria-labelledby="accountModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content bg-white border-0">
      <div class="modal-header py-2">
        <p
          class="modal-title fs-7"
          id="accountModalLabel">
          記帳
        </p>
        <button
          type="button"
          class="btn-close text-gray-600 position-absolute end-0 me-4"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body py-0">
        <div class="radius-xl bg-gray-50 py-3 px-6 position-relative">
          <ul
            class="nav nav-pills bg-white radius-xs p-1"
            id="categoryTab" role="tablist">
            <li class="nav-item flex-grow-1">
              <a 
                class="nav-link text-center active" href="#"
                id="pay-tab"
                data-bs-toggle="tab"
                data-bs-target="#pay"
                type="button"
                role="tab"
                aria-controls="pay"
                aria-selected="true">支出</a>
            </li>
            <li class="nav-item flex-grow-1">
              <a 
                class="nav-link text-center" href="#"
                id="income-tab"
                data-bs-toggle="tab"
                data-bs-target="#income"
                type="button"
                role="tab"
                aria-controls="income"
                aria-selected="true">收入</a>
            </li>
            <li class="nav-item flex-grow-1">
              <a
                class="nav-link text-center" href="#"
                id="move-tab"
                data-bs-toggle="tab"
                data-bs-target="#move"
                type="button"
                role="tab"
                aria-controls="move"
                aria-selected="true">移轉</a>
            </li>
          </ul>
          <div class="tab-content mt-2" id="categoryTabContent">
            <div
              class="pay-tab-pane tab-pane fade show active d-flex"
              id="pay"
              role="tabpanel"
              aria-labelledby="pay-tab">
              <div class="swiper category-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <ul class="nav w-100">
                      <li class="nav-item active radius-l p-1">
                        <a
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-food.png" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            飲食
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-shop.png" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            購物
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-transport.png" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            交通
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-entertainment.png" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            娛樂
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-learn.png" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            學習
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-life.png" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            生活
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-medical.png" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            醫療
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0"
                          data-bs-toggle="modal"
                          data-bs-target="#addCategoryModal"
                        >
                          <img src="../assets/images/icon/account/category-add.png" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            新增
                          </p>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="swiper-slide"></div>
                </div>
              </div>
              <div class="swiper-pagination category-pagination"></div>
            </div>
            <div
              class="tab-pane fade"
              id="income"
              role="tabpanel"
              aria-labelledby="income-tab">
            </div>
            <div
              class="tab-pane fade"
              id="move"
              role="tabpanel"
              aria-labelledby="move-tab">
            </div>
          </div>
        </div>
        <div class="account-category-tag-wrap mt-2">
          <a href="#" class="badge badge-sm badge-gray-100">#早餐</a>
          <a href="#" class="badge badge-sm badge-gray-100">#午餐</a>
          <a href="#" class="badge badge-sm badge-gray-100">#晚餐</a>
          <a href="#" class="badge badge-sm badge-gray-100">#宵夜</a>
          <a href="#" class="badge badge-sm badge-gray-100">#點心</a>
          <a
            href="#"
            class="badge badge-sm badge-gray-100"
            data-bs-toggle="modal"
            data-bs-target="#addSubCategoryModal"
          >
            <img
              src="../assets/images/icon/add/add_pressed.svg"
              alt="add-icon"
              style="width: 16px; height: 16px;">
          </a>
        </div>
        <div class="d-flex mt-2 py-1">
          <button
            class="btn btn-outline-gray-500 fs-8 bg-white py-1 f-center flex-grow-1 position-relative"
            data-bs-toggle="modal"
            data-bs-target="#selectDateModal">
            今天 08/05
            <img
              src="../assets/images/icon/arrow-left/arrow_left_pressed.svg"
              alt="arrow_left-icon"
              class="position-absolute start-0 ms-2"
              style="width: 24px; height: 24px;">
            <img
              src="../assets/images/icon/arrow-right/arrow_right_pressed.svg"
              alt="arrow_right-icon"
              class="position-absolute end-0 me-2"
              style="width: 24px; height: 24px;">
          </button>
          <button
            class="btn btn-outline-gray-500 fs-8 bg-white ms-2 py-1 flex-grow-1">
            週期性記帳
          </button>
        </div>
        <div class="mt-2 position-relative">
          <input
            type="text"
            class="form-control w-100 bg-gray-50 border-gray-200"
            placeholder="請輸入備註...">
          <img
            src="../assets/images/icon/extension/extension_default.svg"
            alt="extension-icon"
            class="position-absolute top-0 end-0 mt-2 me-4"
            style="width: 24px; height: 24px;">
        </div>
      </div>
      <div class="modal-footer border-0 mt-3 p-0">
        <div class="calculator w-100 m-0">
          <div class="cal-total f-between-center">
            <img
              src="../assets/images/icon/scan.svg"
              alt="scan-icon"
              style="width: 24px; height: 24px;">
              <div class="f-center">
                <h4 class="font-Nunito">＄</h4>
                <h2 class="font-Nunito">0</h2>
              </div>
          </div>
          <div class="cal-btn-group mt-4">
            <button class="cal-btn btn">7</button>
            <button class="cal-btn btn ms-1">8</button>
            <button class="cal-btn btn ms-1">9</button>
            <button class="cal-btn btn bg-gray-300 ms-1">
              <img
              src="../assets/images/icon/tag-cross.svg"
              alt="tag-cross-icon"
              style="width: 32px; height: 32px;">
            </button>
      
            <button class="cal-btn btn">4</button>
            <button class="cal-btn btn ms-1">5</button>
            <button class="cal-btn btn ms-1">6</button>
            <button class="cal-btn btn bg-gray-300 ms-1">
              <img
                src="../assets/images/icon/add/add.svg"
                alt="add-icon"
                style="width: 32px; height: 32px;">
            </button>
      
            <button class="cal-btn btn">1</button>
            <button class="cal-btn btn ms-1">2</button>
            <button class="cal-btn btn ms-1">3</button>
            <button class="cal-btn btn bg-gray-300 ms-1">
              <img
                src="../assets/images/icon/minus/minus.svg"
                alt="minus-icon"
                style="width: 32px; height: 32px;">
            </button>
      
            <button class="cal-btn btn">.</button>
            <button class="cal-btn btn ms-1">0</button>
            <button class="cal-btn btn ms-1">00</button>
            <button class="cal-btn btn bg-orange-400 ms-1">
              <img
                src="../assets/images/icon/check/check_white.svg"
                alt="check-icon"
                style="width: 32px; height: 32px;">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- addCategoryModal -->
<div
  class="addCategoryModal modal fade"
  id="addCategoryModal"
  tabindex="-1" 
  aria-labelledby="addCategoryModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-white border-0 p-6">
      <div class="modal-header border-0 p-0">
        <p
          class="modal-title fs-6"
          id="addCategoryModalLabel">
          新增類別
        </p>
        <button
          type="button"
          class="btn-close text-gray-600"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body f-column-center p-0 mt-5">
        <img
          src="../assets/images/icon/account/category-necessary.png"
          alt="category-necessary-icon"
          style="width: 56px; height: 56px;">
        <input
          type="text"
          class="form-control w-100 bg-white border-gray-300 mt-3"
          placeholder="請輸入類別名稱">
        <div class="border-0 d-flex w-100 p-0 mt-5">
          <button
            type="button"
            class="btn btn-outline-gray-500 fs-8 w-100"
            data-bs-dismiss="modal">
            取消
          </button>
          <button
            type="button"
            class="btn btn-gray-600 fs-8 w-100 ms-3">
            儲存
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- addSubCategoryModal -->
<div
  class="addSubCategoryModal modal fade"
  id="addSubCategoryModal"
  tabindex="-1" 
  aria-labelledby="addSubCategoryModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-white border-0 p-6">
      <div class="modal-header border-0 p-0">
        <p
          class="modal-title fs-6"
          id="addSubCategoryModalLabel">
          新增飲食子類別
        </p>
        <button
          type="button"
          class="btn-close text-gray-600"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body f-column-center p-0 mt-5">
        <input
          type="text"
          class="form-control w-100 bg-white border-gray-300 mt-3"
          placeholder="請輸入類別名稱">
        <div class="border-0 d-flex w-100 p-0 mt-5">
          <button
            type="button"
            class="btn btn-outline-gray-500 fs-8 w-100"
            data-bs-dismiss="modal">
            取消
          </button>
          <button
            type="button"
            class="btn btn-gray-600 fs-8 w-100 ms-3">
            儲存
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- selectDateModal -->
<div
  class="selectDateModal modal fade"
  id="selectDateModal"
  tabindex="-1" 
  aria-labelledby="selectDateModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content bg-white border-0">
      <div class="modal-header flex-row border-0 p-0">
        <p
          class="modal-title fs-6"
          id="selectDateModalLabel">
          選擇日期
        </p>
        <button
          type="button"
          class="btn-close text-gray-600"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body f-column-center p-0 mt-5">
        <%- include('./layout/calendar', {page:'account-modal'}); -%>
        <div class="border-0 d-flex w-100 p-0 mt-8">
          <button
            type="button"
            class="btn btn-gray-600 fs-8 w-100">
            確認
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  var swiper = new Swiper(".category-swiper", {
    direction: "vertical",
    slidesPerView: 1,
    spaceBetween: 30,
    mousewheel: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
