<!-- accountModal -->
<div
  class="accountModal modal fade"
  id="accountModal"
  tabindex="-1"
  aria-labelledby="accountModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content bg-white border-0">
      <div class="modal-header py-2">
        <p
          class="modal-title fs-7"
          id="accountModalLabel">
          記帳
        </p>
        <button
          type="button"
          class="btn-close text-gray-600 position-absolute end-0 me-4"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body py-0">
        <div class="radius-xl bg-gray-50 py-3 px-6 position-relative">
          <ul
            class="nav nav-pills bg-white radius-xs p-1"
            id="categoryTab" role="tablist">
            <li class="nav-item flex-grow-1">
              <a 
                class="nav-link text-center active" href="#"
                id="pay-tab"
                data-bs-toggle="tab"
                data-bs-target="#pay"
                type="button"
                role="tab"
                aria-controls="pay"
                aria-selected="true">支出</a>
            </li>
            <li class="nav-item flex-grow-1">
              <a 
                class="nav-link text-center" href="#"
                id="income-tab"
                data-bs-toggle="tab"
                data-bs-target="#income"
                type="button"
                role="tab"
                aria-controls="income"
                aria-selected="true">收入</a>
            </li>
            <li class="nav-item flex-grow-1">
              <a
                class="nav-link text-center" href="#"
                id="move-tab"
                data-bs-toggle="tab"
                data-bs-target="#move"
                type="button"
                role="tab"
                aria-controls="move"
                aria-selected="true">移轉</a>
            </li>
          </ul>
          <div class="tab-content mt-2" id="categoryTabContent">
            <div
              class="pay-tab-pane tab-pane fade show active d-flex"
              id="pay"
              role="tabpanel"
              aria-labelledby="pay-tab">
              <div class="swiper category-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <ul class="nav w-100">
                      <li class="nav-item active radius-l p-1">
                        <a
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-food.svg" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            飲食
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-shop.svg" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            購物
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-transport.svg" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            交通
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-entertainment.svg" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            娛樂
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-learn.svg" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            學習
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-life.svg" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            生活
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0">
                          <img src="../assets/images/icon/account/category-medical.svg" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            醫療
                          </p>
                        </a>
                      </li>
                      <li class="nav-item radius-l p-1">
                        <a  
                          href="#"
                          class="nav-link f-column-center p-0"
                          id="addCategoryModal"
                        >
                          <img src="../assets/images/icon/account/category-add.svg" alt="category-food-icon">
                          <p class="fs-9 font-Nunito mt-1">
                            新增
                          </p>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="swiper-slide"></div>
                </div>
              </div>
              <div class="swiper-pagination category-pagination"></div>
            </div>
            <div
              class="tab-pane fade"
              id="income"
              role="tabpanel"
              aria-labelledby="income-tab">
            </div>
            <div
              class="tab-pane fade"
              id="move"
              role="tabpanel"
              aria-labelledby="move-tab">
            </div>
          </div>
        </div>
        <div class="account-category-tag-wrap mt-2">
          <a href="#" class="badge badge-sm badge-gray-100">#早餐</a>
          <a href="#" class="badge badge-sm badge-gray-100">#午餐</a>
          <a href="#" class="badge badge-sm badge-gray-100">#晚餐</a>
          <a href="#" class="badge badge-sm badge-gray-100">#宵夜</a>
          <a href="#" class="badge badge-sm badge-gray-100">#點心</a>
          <a
            href="#"
            class="badge badge-sm badge-gray-100"
            id="addSubCategoryModal"
          >
            <img
              src="../assets/images/icon/add/add_pressed.svg"
              alt="add-icon"
              style="width: 16px; height: 16px;">
          </a>
        </div>
        <div class="d-flex mt-2 py-1">
          <button
            class="btn btn-outline-gray-500 fs-8 bg-white py-1 f-center flex-grow-1 position-relative"
            id="addSelectDateModal">
            今天 08/05
            <img
              src="../assets/images/icon/arrow-left/arrow_left_pressed.svg"
              alt="arrow_left-icon"
              class="position-absolute start-0 ms-2"
              style="width: 24px; height: 24px;">
            <img
              src="../assets/images/icon/arrow-right/arrow_right_pressed.svg"
              alt="arrow_right-icon"
              class="position-absolute end-0 me-2"
              style="width: 24px; height: 24px;">
          </button>
          <button
            class="btn btn-outline-gray-500 fs-8 bg-white ms-2 py-1 flex-grow-1"
            id="periodSettingModal">
            週期性記帳
          </button>
        </div>
        <div class="mt-2 position-relative">
          <input
            type="text"
            class="form-control w-100 bg-gray-50 border-gray-200"
            placeholder="請輸入備註...">
            <button
              class="btn position-absolute top-0 end-0 p-0 mt-2 me-4"
              id="remarksModal">
              <img src="../assets/images/icon/extension/extension_default.svg"
                alt="extension-icon"
                style="width: 24px; height: 24px;">
            </button>
        </div>
      </div>
      <div class="modal-footer border-0 mt-3 p-0">
        <div class="calculator w-100 m-0">
          <div class="cal-total">
            <div class="f-between-center">
              <img
              src="../assets/images/icon/scan.svg"
              alt="scan-icon"
              style="width: 24px; height: 24px;">
              <div class="f-center">
                <h4 class="font-Nunito">＄</h4>
                <h2 class="font-Nunito">0</h2>
              </div>
            </div>
            <p
              class="fs-9 text-gray-600 text-end d-none"
              id="cal-total-remark">
              週期：每月1號 / 分3期
            </p>
          </div>
          <div class="cal-btn-group mt-4">
            <button class="cal-btn btn">7</button>
            <button class="cal-btn btn ms-1">8</button>
            <button class="cal-btn btn ms-1">9</button>
            <button class="cal-btn btn bg-gray-300 ms-1">
              <img
              src="../assets/images/icon/tag-cross.svg"
              alt="tag-cross-icon"
              style="width: 32px; height: 32px;">
            </button>
      
            <button class="cal-btn btn">4</button>
            <button class="cal-btn btn ms-1">5</button>
            <button class="cal-btn btn ms-1">6</button>
            <button class="cal-btn btn bg-gray-300 ms-1">
              <img
                src="../assets/images/icon/add/add.svg"
                alt="add-icon"
                style="width: 32px; height: 32px;">
            </button>
      
            <button class="cal-btn btn">1</button>
            <button class="cal-btn btn ms-1">2</button>
            <button class="cal-btn btn ms-1">3</button>
            <button class="cal-btn btn bg-gray-300 ms-1">
              <img
                src="../assets/images/icon/minus/minus.svg"
                alt="minus-icon"
                style="width: 32px; height: 32px;">
            </button>
      
            <button class="cal-btn btn">.</button>
            <button class="cal-btn btn ms-1">0</button>
            <button class="cal-btn btn ms-1">00</button>
            <button class="cal-btn btn bg-orange-400 ms-1">
              <img
                src="../assets/images/icon/check/check_white.svg"
                alt="check-icon"
                style="width: 32px; height: 32px;">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- addCategoryModal -->
<div
  class="addCategoryCard d-none"
  id="addCategoryCard">
  <div class="modal-content bg-white border-0 p-6">
    <div class="modal-header border-0 f-between-center p-0">
      <p class="modal-title fs-6" id="addCategoryCardLabel">
        新增類別
      </p>
      <button
        type="button"
        class="btn-close"
        id="closeAddCategoryCard"
        aria-label="Close"
        style="width: 24px; height: 24px;"></button>
    </div>
    <div class="modal-body f-column-center p-0 mt-5">
      <img
        src="../assets/images/icon/account/category-necessary.svg"
        alt="category-necessary-icon"
        style="width: 56px; height: 56px;">
      <input
        type="text"
        class="form-control w-100 bg-white border-gray-300 mt-3"
        placeholder="請輸入類別名稱">
      <div class="border-0 d-flex w-100 p-0 mt-5">
        <button
          type="button"
          class="btn btn-outline-gray-500 bg-surface-second fs-8 w-100"
          id="cancelAddCategory">
          取消
        </button>
        <button
          type="button"
          class="btn btn-gray-600 fs-8 w-100 ms-3">
          儲存
        </button>
      </div>
    </div>
  </div>
</div>

<!-- addSubCategoryModal -->
<div
  class="addSubCategoryCard d-none"
  id="addSubCategoryCard">
  <div class="modal-content bg-white border-0 p-6">
    <div class="modal-header border-0 f-between-center p-0">
      <p
        class="modal-title fs-6"
        id="addSubCategoryModalLabel">
        新增飲食子類別
      </p>
      <button
        type="button"
        class="btn-close"
        id="closeAddSubCategoryCard"
        aria-label="Close"
        style="width: 24px; height: 24px;"></button>
    </div>
    <div class="modal-body f-column-center p-0 mt-5">
      <input
        type="text"
        class="form-control w-100 bg-white border-gray-300 mt-3"
        placeholder="請輸入類別名稱">
      <div class="border-0 d-flex w-100 p-0 mt-5">
        <button
          type="button"
          class="btn btn-outline-gray-500 bg-surface-second fs-8 w-100"
          id="cancelAddSubCategory">
          取消
        </button>
        <button
          type="button"
          class="btn btn-gray-600 fs-8 w-100 ms-3">
          儲存
        </button>
      </div>
    </div>
  </div>
</div>

<!-- selectDateModal -->
<div
  class="selectDateCard d-none"
  id="selectDateCard">
  <div class="modal-content bg-white border-0">
    <div class="modal-header f-between-center border-0 p-0">
      <p
        class="modal-title fs-6"
        id="selectDateModalLabel">
        選擇日期
      </p>
      <button
        type="button"
        class="btn-close"
        id="closeSelectDateCard"
        aria-label="Close"
        style="width: 24px; height: 24px;"></button>
    </div>
    <div class="modal-body f-column-center p-0 mt-5">
      <%- include('./layout/calendar', {page:'account-modal'}); -%>
      <div class="border-0 d-flex w-100 p-0 mt-8">
        <button
          type="button"
          class="btn btn-gray-600 fs-8 w-100">
          確認
        </button>
      </div>
    </div>
  </div>
</div>

<!-- periodSettingCard -->
<div
  class="periodSettingCard d-none"
  id="periodSettingCard">
  <div class="modal-content bg-white border-0 p-6">
    <div class="modal-header border-0 f-between-center p-0">
      <p
        class="modal-title fs-6"
        id="addSubCategoryModalLabel">
        設定週期
      </p>
      <button
        type="button"
        class="btn-close"
        id="closePeriodSettingCard"
        aria-label="Close"
        style="width: 24px; height: 24px;"></button>
    </div>
    <div class="modal-body f-column-center p-0 mt-5">
      <ul
        class="nav nav-pills bg-gray-100 radius-xs w-100 p-1"
        id="categoryTab" role="tablist">
        <li class="nav-item flex-grow-1">
          <a 
            class="nav-link text-center text-gray-950 active" href="#"
            id="one-time-tab"
            data-bs-toggle="tab"
            data-bs-target="#one-time"
            type="button"
            role="tab"
            aria-controls="one-time"
            aria-selected="true">單次</a>
        </li>
        <li class="nav-item flex-grow-1">
          <a 
            class="nav-link text-center text-gray-950" href="#"
            id="recurring-tab"
            data-bs-toggle="tab"
            data-bs-target="#recurring"
            type="button"
            role="tab"
            aria-controls="recurring"
            aria-selected="true">週期</a>
        </li>
      </ul>
      <div class="tab-content w-100 mt-6" id="categoryTabContent">
        <div
          class="one-time tab-pane fade show active"
          id="one-time"
          role="tabpanel"
          aria-labelledby="one-time-tab">
          <div class="f-between-center w-100">
            <p>入帳方式</p>
            <p class="text-gray-600">立即入帳</p>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="recurring"
          role="tabpanel"
          aria-labelledby="recurring-tab">
          <div class="w-100">
            <div class="f-between-center">
              <div class="flex-grow-1">
                <p>每月日期</p>
              </div>
              <div class="dropdown ms-5">
                <a class="form-select border-gray-200 bg-gray-100 py-3 px-3" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">1號</a>
                <ul class="dropdown-menu mt-3">
                  <li>
                    <a class="dropdown-item radius-3xs" href="#">
                      1號
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item radius-3xs" href="#">
                      2號
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item radius-3xs" href="#">
                      3號
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item radius-3xs" href="#">
                      4號
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item radius-3xs" href="#">
                      5號
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="f-between-center mt-4">
              <div class="flex-grow-1">
                <p>次數</p>
              </div>
              <div class="dropdown ms-5">
                <a class="form-select border-gray-200 bg-gray-100 py-3 px-3" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">3期</a>
                <ul class="dropdown-menu mt-3">
                  <li>
                    <a class="dropdown-item radius-3xs" href="#">
                      1期
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item radius-3xs" href="#">
                      2期
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item radius-3xs" href="#">
                      3期
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-0 d-flex w-100 p-0 mt-5">
        <button
          type="button"
          class="btn btn-outline-gray-500 bg-surface-second fs-8 w-100"
          id="cancelPeriodSettingCard">
          取消
        </button>
        <button
          type="button"
          class="btn btn-gray-600 fs-8 w-100 ms-3"
          id="addPeriodSettingBtn">
          儲存
        </button>
      </div>
    </div>
  </div>
</div>

<!-- remarksModal -->
<div
  class="remarksCard d-none"
  id="remarksCard">
  <div class="modal-content bg-white border-0 p-6">
    <div class="modal-header border-0 f-between-center p-0">
      <p
        class="modal-title fs-6"
        id="addSubCategoryModalLabel">
        備註
      </p>
      <button
        type="button"
        class="btn-close"
        id="closeRemarksCard"
        aria-label="Close"
        style="width: 24px; height: 24px;"></button>
    </div>
    <div class="modal-body f-column-center p-0 mt-5">
      <p class="fs-8">香菜蒜頭奶昔是哪來的想法請問是什麼邪教嗎豪恐怖</p>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="../assets/js/accounting-modal.js"></script>
