<div class="budget-card">
  <div><img src="../assets/images/icon/Category/styles=food.svg" alt="" /></div>
  <div>
    <div>
      <p>飲食</p>
      <p>剩餘：<span>$ 7,500</span></p>
    </div>
    <div>
      <p>已用：<span>$ 2,500</span> / <span>$ 9,000</span></p>
    </div>
  </div>
</div>
