<!-- calendar -->
<div class="calendar">
  <div class="calendar-header">
    <button id="prev-month" class="p-0 me-5">
      <img
      src="../assets/images/icon/arrow-left/arrow_left_pressed.svg"
      alt="arrow_left-icon"
      style="width: 24px; height: 24px;">
    </button>
    <div class="current-month"></div>
    <button id="next-month" class="p-0 ms-5">
      <img
        src="../assets/images/icon/arrow-right/arrow_right_pressed.svg"
        alt="arrow_right-icon"
        style="width: 24px; height: 24px;">
    </button>
  </div>
  <div class="calendar-weekdays">
    <div class="weekday">日</div>
    <div class="weekday">一</div>
    <div class="weekday">二</div>
    <div class="weekday">三</div>
    <div class="weekday">四</div>
    <div class="weekday">五</div>
    <div class="weekday">六</div>
  </div>
  <div class="calendar-days"></div>
</div>

<script type="module" src="../assets/js/calendar.js"></script>