<li class="list-hover">
  <div class="px-6 d-flex top-3-list-item align-items-center">
    <div class="d-flex align-items-center">
      <div class="top-list-index font-Nunito"><%= index %></div>
      <p class="fs-8"><%= details %></p>
    </div>

    <hr class="flex-grow-1" />

    <div>
      <p class="fs-8">$<%= expense.toLocaleString('en-IN') %></p>
    </div>
  </div>
</li>
