<div class="<%= width %> me-2">
  <div class="<%= background %> radius-l py-4 px-5 income-card h-100">
    <div class="d-flex mb-3 align-items-center">
      <p class="fs-9 text-gray-600" style="margin-right: 2px"><%= title %></p>
      <img
        src="../assets/images/icon/eyes/eye_grey_yes.svg"
        alt="eye icon"
        class="eye-icon"
        data-show="true"
        width="16"
        height="16"
      />
    </div>

    <p class="income font-Nunito text-gray-950 fw-bold fs-5">
      $<span><%= income %></span>
    </p>
  </div>
</div>
