<li class="list-hover">
  <div class="px-4 py-3 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center me-4">
      <div class="category-color-index bg-<%= backgroundColor %>"></div>
      <p class="fs-8"><%= category %></p>
    </div>

    <div class="ms-4">
      <p class="font-Nunito fw-semibold fs-8">
        $<%= expense.toLocaleString('en-IN') %>
      </p>
    </div>
  </div>
</li>
