<nav class="tab-bar-section fixed-bottom bg-white">
  <ul class="f-between-center px-4">
    <li>
      <a href="#" class="pt-3 pb-1 px-3">
        <img 
          src="../assets/images/icon/Tab_Bar/home_default.svg"
          alt="home-icon">
        <p class="fs-10 text-gray-600 mt-1">首頁</p>
      </a>
    </li>
    <li>
      <a href="#" class="pt-3 pb-1 px-3">
        <img
          src="../assets/images/icon/Tab_Bar/details_default.svg"
          alt="detail-icon">
        <p class="fs-10 text-gray-600 mt-1">明細</p>
      </a>
    </li>
    <li>
      <a href="#" class="account-btn">
        <img
          src="../assets/images/icon/Tab_Bar/account btn.png" 
          alt="account-btn">
      </a>
    </li>
    <li>
      <a href="#" class="pt-3 pb-1 px-3">
        <img
          src="../assets/images/icon/Tab_Bar/chart_default.svg"
          alt="chart-icon">
        <p class="fs-10 text-gray-600 mt-1">統計</p>
      </a>
    </li>
    <li>
      <a href="#" class="pt-3 pb-1 px-3">
        <img
          src="../assets/images/icon/Tab_Bar/user_default.svg"
          alt="user-icon">
        <p class="fs-10 text-gray-600 mt-1">設定</p>
      </a>
    </li>
  </ul>
</nav>