<div class="w-50 me-2">
  <div class="<%= background %> radius-l py-4 px-5 income-card">
    <div class="d-flex mb-3 align-items-center">
      <p class="<%= fontSize %> text-gray-600" style="margin-right: 2px">
        <%= text %>
      </p>

      <% if(hasIcon){ %>
      <img
        src="../assets/images/icon/edit/edit_presed.svg"
        alt="edit icon"
        width="16"
        height="16"
      />
      <% } else { %> <% } %>
    </div>

    <!-- fs-5 -->
    <p class="font-Nunito text-gray-950 fw-bold fs-5"><%= goal %></p>
  </div>
</div>
