/* accountModal */
.accountModal {
  .modal-dialog {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    max-width: 100%;
    width: 100%;

    @include short-screen {
      height: 100vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .modal-header {
    border: 0;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, 50px);
  }
  
  &.modal.show .modal-dialog {
    transform: translateY(0);
  }
}

/* pay-tab-pane */
.pay-tab-pane {
  .nav {
    justify-content: space-between;

    @include mobile-lg {
      justify-content: center;
      gap: 12px;
    }

    .nav-item {
      border: 2px solid transparent;

      p {
        color: $gray-600;
      }
    }
  
    .active {
      background-color: $white;
      border: 2px solid $orange-200;

      p {
        color: $orange-950;
      }
    }
  }
}

/* category-swiper */
.category-swiper {
  height: 180px;

  @include mobile-lg {
    height: 200px;
  }
}
.category-pagination {
  height: 35px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 28px;
  margin-right: 8px;

  .swiper-pagination-bullet {
    background-color: $gray-200;
    width: 4px;
    border-radius: 100px;
    height: 100%;
  }

  .swiper-pagination-bullet-active {
    background-color: $gray-500;
  }

  &.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-vertical
    >.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }
}

/* account-category-tag-wrap */
.account-category-tag-wrap {
  display: flex;
  gap: 8px;
}

/* calculator */
.calculator {
  border-radius: 32px 32px 0 0;
  padding: 16px;
  background-color: $gray-200;

  .cal-total {
    width: 100%;
    border-radius: 24px;
    background-color: #FFFFFFB2;
    padding: 8px 12px;

    h2 {
      font-size: 32px;
    }

    h4 {
      font-size: 24px;
    }
  }

  .cal-btn-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
  }

  .cal-btn {
    font-size: 24px;
    font-weight: bolder;
    background-color: $white;
    border-radius: 20px;
    border: 0;
    padding: 6px 10px;
  }
}

/* addCategoryModal & addSubCategoryModal & periodSettingCard */
.addCategoryCard,
.addSubCategoryCard,
.periodSettingCard,
.remarksCard {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10300;

  .modal-content {
    max-width: 500px;
    border-radius: 28px;
  }
}

.addCategoryCard,
.addSubCategoryCard,
.periodSettingCard,
.selectDateCard,
.remarksCard {
  .modal-content {
    z-index: 10500;
  }
}

.custom-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10400;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}
/* addCategoryCard & addSubCategoryCard &
remarksCard */
.addCategoryCard,
.addSubCategoryCard,
.remarksCard {
  .modal-content {
    width: 240px;
  }
}

/* periodSettingCard */
.periodSettingCard {
  .modal-content {
    width: 300px;
  }
}

/* selectDateModal */
.selectDateCard {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10500;

  .modal-content {
    position: fixed;
    bottom: 0;
    border-radius: 28px 28px 0 0;
    padding: 24px 24px 54px;
  }
}

/* periodSettingCard */
.periodSettingCard {
  .nav-pills > .nav-item {
    .active {
      background-color: $white;
    }
  }

  .dropdown {
    width: 160px;
  }
}