.landing-page {
  .pagination-padding {
    padding: 6px;
  }
  .min-height {
    margin-top: 0px;
    @media (min-height: 710px) {
      margin-top: 31px;
    }
    @media (min-height: 768px) {
      margin-top: 62px;
    }
  }
  .disabled-link {
    pointer-events: none;  // 禁用點擊事件
    cursor: not-allowed;   // 顯示禁用圖標
  }
  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: calc(100vh - 500px);
  }
  .custom-dollar {
    color: $gray-200; /* 預設顏色 */
    &.active {
      color: $gray-950; /* 當輸入有值時顏色改變 */
    }
  }
  .input-padding {
    padding-left: 30px !important;
  }
  .step-btn {
    padding: 6px 20px;
    border-radius: 20px;
  }
  .d-flex {
    gap: 20px;
  }
  .bg-gray-100 {
    &:hover,
    &:active,
    &.active,
    &.focus {
      background-color: $gray-600 !important;
    }
  }
  .text-gray-200 {
    &:hover,
    &:active,
    &.active,
    &.focus {
      color: $white !important;
    }
  }
}
.material-symbols-outlined{
  vertical-align: bottom;
}

.icon-filled{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}