.statistics,
.review-expense {
  .date-picker {
    p {
      font-size: 17px;
      transform: translateY(2px);
      text-align: center;
    }

    @media (max-width: 389px) {
      p {
        font-size: 15px;
      }
    }

    @media (max-width: 369px) {
      p {
        font-size: 12px;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
