.goal-card {
  img {
    width: 120px;
    @media (max-width: 400px) {
      width: 80px;
    }
  }
}

.top-expense-list {
  padding: 0px;
}

.top-3-list-item {
  .top-list-index {
    margin-right: 16px;
    padding: 6px 4px 4px 4px;
    background-color: $gray-100;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .category-color-index {
    margin-right: 8px;
    width: 12px;
    height: 12px;
    border-radius: 4px;
  }

  hr {
    border: none;
    border-top: 2px dashed #d7d9e0;
    color: #fff;
    background-color: #fff;
    height: 2px;
  }
}

.category-top-3-expense-list {
  position: relative;
  .swiper-button-custom-prev {
    position: absolute;
    left: 100px;
    z-index: 10;
  }

  .swiper-button-custom-next {
    position: absolute;
    right: 100px;
    z-index: 10;
  }
}
