<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>index</title>
  </head>
  <body>
    <div class="accounting-receipt-section mt-6">
      <%- include('./layout/calendar'); -%>
      <div class="mt-2">
        <div class="f-between-center px-4 bg-surface-dark-gray">
          <p class="text-white fs-8">8 月 5 日  星期一</p>
          <div class="font-Nunito text-white fw-semibold d-flex align-items-center py-1">
            <p class="">-$2,050</p>
          </div>
        </div>
        <div class="f-between-center py-2 px-4 border-bottom">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img
                src="../assets/images/icon/account/category-shop.png"
                alt="category-shop"
                style="width: 48px; height: 48px;">
            </div>
            <div class="flex-grow-1 ms-2">
              <p class="fs-6">購物</p>
              <p class="fs-8">衣服</p>
            </div>
          </div>
          <div class="font-Nunito text-red-600 fw-semibold d-flex align-items-center">
            <p>-$1,600</p>
          </div>
        </div>
        <div class="f-between-center py-2 px-4 border-bottom">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img
                src="../assets/images/icon/account/category-transport.png"
                alt="category-transport"
                style="width: 48px; height: 48px;">
            </div>
            <div class="flex-grow-1 ms-2">
              <p class="fs-6">交通</p>
              <p class="fs-8">月票</p>
            </div>
          </div>
          <div class="font-Nunito text-red-600 fw-semibold f-column-center">
            <p>-$1,200</p>
            <span class="fs-9 text-white fw-normal bg-gray-300 rounded-pill w-100 text-center mt-1 py-1">
              週期3
            </span>
          </div>
        </div>
        <div class="f-between-center py-2 px-4 border-bottom">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img
                src="../assets/images/icon/account/category-learn.png"
                alt="category-learn"
                style="width: 48px; height: 48px;">
            </div>
            <div class="flex-grow-1 ms-2">
              <p class="fs-6">獎學金</p>
            </div>
          </div>
          <div class="font-Nunito text-green-500 fw-semibold d-flex align-items-center">
            <p>+$2,000</p>
          </div>
        </div>
        <div class="f-between-center py-2 px-4 border-bottom">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img
                src="../assets/images/icon/account/category-bank.png"
                alt="category-bank"
                style="width: 48px; height: 48px;">
            </div>
            <div class="flex-grow-1 ms-2">
              <p class="fs-6">帳戶內轉</p>
            </div>
          </div>
          <div class="font-Nunito text-gray-300 fw-semibold d-flex align-items-center">
            <p>$1,000</p>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/tab-bar'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
