<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- Material icon -->
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>搜尋結果</title>
  </head>
  <body>
    <%- include('./layout/header', { page: '搜尋' , showBackButton: true, showSearchButton: false }); -%>
    <div class="accounting-search-section pb-14">
      <div class="px-4">
        <div class="position-relative">
          <input
            type="search"
            class="form-control"
            placeholder="請輸入關鍵字">
            <a href="accounting-search-results.html" class="position-absolute top-0 end-0 mt-2 me-4">
              <img
                src="../assets/images/icon/search/search_pressed.svg"
                alt="icon-search"
                style="width: 24px; height: 24px;"
              >
            </a>
        </div>
      </div>
    </div>
    <%- include('./layout/tab-bar', {page:'accounting-receipt'}); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
